*{margin: 0;padding: 0;}
a{text-decoration: none;color: white;}
li{list-style: none;}
img{display: block;}

.shopping{width:40px;height: 100%;position: fixed;right:0px;opacity: .4;background: #000000;}

.gr{position: fixed;right:0px;top:130px;}
.gr p{width: 40px;height: 35px;padding-top: 15px;}
.gr p:hover{background: #ff5073;}
.gr .shopp{width: 40px;height: 100px;border: 0;}
.gr .shopp span{width:18px;font-size: 14px;display:block;margin-left: 13px;color: white;}
.gr i{color: white;margin-left: 11px;}
.gr p:nth-of-type(5){margin-top: 25px;}
#top{display: none;}

.title_01{height: 42px;background: #ff5073;}
.title{width: 1100px; height: 42px; color:white;line-height: 42px;margin: 0 auto;}
.title span{margin: 0 10px;}
.title .img{float: left;margin-top:10px ;}
.sign{margin-left:10px;font-size: 12px;float:left;}
.sign-left{float: left;font-size: 12px;margin-left: 520px;}
.sign-right{float: right;font-size: 12px;}
.sign-right i{margin: 10px 2px 0 0;}

.search_01{border-bottom: 2px solid #dddddd;height: 110px;}
.search{width:1100px;height: 110px;line-height: 110px;margin: 0 auto;}
.search .img8{float: left;margin-top: 40px;}
.search .tet{width: 450px;height: 40px;margin: 40px 80px 0 110px;outline: none;border: 2px solid #ff5073;border-radius: 30px;text-indent: 20px;float: left;}
.search .sub{float: left;margin-left: -130px;width: 35px; height: 35px;margin-top: 45px;outline:none;border:0;background: url(../img/111.png) no-repeat center;background-size: 30px;}
.search .img13{float: right;margin-right: 60px;margin-top: 5px;}

.nav_01{border-bottom: 2px solid #dddddd;height: 50px;}
.nav{width:1100px;height: 50px;font-size: 18px;line-height: 50px;margin: 0 auto;}
.nav .nav2{float: left;width: 180px;text-align: center;background: #f2f2f2;}
.nav2 i{margin: 0 5px;}
.nav .zy li{float: left;margin: 0 20px ;}
.zy li:hover{color:#ff5073;}
.zy .romve{width:180px;background: white;font-size: 14px;position: absolute;white-space:nowrap; display: none;}
.zy .romve li{line-height:30px;color: #000000}
.zy .romve li:hover{color:#ff5073;}

#loutiNav{position: fixed;top: 25%;left: 20px;width:40px;border: 1px solid ;}
#loutiNav ul li{position:relative;width:40px;height:50px;text-align:center;line-height: 50px;font-size: 15px;cursor: pointer;border-bottom: 1px dotted #AAAAAA;}
#loutiNav ul li.last {background: red;color: white;border-bottom: none;}
#loutiNav ul li span{display: none;position: absolute;	top: 0;left: 0;color:red;width: 40px;}
#loutiNav ul li:hover span{display: block;color: white;background: red;}
#loutiNav ul li span.active {display: block;background: white;color: red;}
#loutiNav ul li:hover span.active{display: block;background: red;color: white;}

.list_box{width: 1100px;margin: 0 auto;overflow: hidden;}
#mian .yz{width: 1100px;height: 30px;line-height: 30px; color: red;font-size: 20px;display: block;border: 1px solid #F5F5F5;float: left;}
#mian ul li{width: 275px;height:500px;border-top: solid #F5F5F5;float: left;}
#mian ul li:hover{box-shadow: 5px 5px 5px #F5F5F5;}
#mian ul li p{text-align: center;margin: 8px 0;}
#mian ul li p:nth-of-type(2){font-size: 18px;}
#mian ul li p:nth-of-type(3){color: rgb(49, 206, 181);}
#mian ul li p:nth-of-type(4){color: #FF5073;}
#mian p button{width: 100px;height: 35px;border: 0;}
#mian p button:hover{background: #FF5073;color: white;}
.listli{width: 1100px;height: 1530px;display: block;}
.listchun{width: 1100px;height: 1030px;display: block;}
.listdi{width: 1100px;height: 530px;display: block;}
.listcai{width: 1100px;height: 530px;display: block;}
.listgong{width: 1100px;height: 1030px;display: block;}
.listtao{width: 1100px;height: 530px;}



.dd{background: #f3f1f2;;height: 240px;}
.zp{height: 240px;width:1100px;margin: 0 auto;overflow: hidden;}
.zp dl{float: left;margin-top: 50px;width:275px;text-align: center;}
.zp dt img{width: 88px; height: 88px;margin-left: 92px;}
.zp dd{font-size: 25px; font-weight: 600;margin-top: 10px;}

.ba{height: 400px;}
.base{width:1104px;height: 400px;margin: 0 auto;overflow: hidden;}
.ba .base .qq{width: 245px;height: 180px;margin-top:120px ;padding-top: 30px;float: left;}
.qq h4{font-size: 16px;text-align: center;margin-top:100px;}
.qq p{margin-left: 55px;}
.qq img{float: left;margin: 10px 5px;}
.txt{width: 804px;height:400px;float: right; }
.txt ul{margin-top:45px;width: 200px;border-left: 1px solid #eaeaea;float: left;text-align: center;}
.txt h4{font-size: 20px;margin-bottom: 15px;}
.txt li{font-size: 16px;line-height: 45px;color: #333333;}

.phone_01{height: 100px;border-bottom: 2px solid #eaeaea;border-top: 2px solid #eaeaea;}
.phone{height: 100px;text-align: center;width: 1100px;margin: 0 auto;}
.phone h4{font-size: 18px;margin-top: 15px;}
.phone p{font-size: 18px;margin-top: 15px;}

.tal_01{height:60px;}
.tal{height:60px ;font-size: 14px;text-align: center;width: 1100px;margin: 0 auto;}
.tal span img{float: left;margin-left: 80px;}
.tal p{margin-top: 15px;}
.tal span{color: #aaaaaa;}
.tal span:nth-of-type(1){float: left;}